html,
body {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0;
}
page {
  font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif;
  line-height: 1.2em;
  min-width: 300px;
}
header {
  height: 40px;
  background: #4CAF50;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 1px 3px 0px #797777;
  -webkit-backface-visibility: hidden;
  min-width: 300px;
}
header .header-logo {
  cursor: pointer;
}
header item {
  padding: 5px;
  cursor: default;
  padding-right: 17px;
}
header item:hover {
  text-decoration: underline;
}
header open-button {
  transition: opacity 0.5s;
  position: absolute;
  left: 50%;
  top: 7px;
}
header open-button.hide {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* Netscape */
  -moz-opacity: 0;
  /* Safari 1.x */
  -khtml-opacity: 0;
  /* Good browsers */
  opacity: 0;
}
header button-inside {
  margin-left: -50%;
  height: 19px;
  border-radius: 20px;
  display: block;
  font-size: 13px;
  padding: 2px 14px;
  cursor: pointer;
  color: #4CAF50;
  background: white;
  border: 1px solid #4CAF50;
  transition: color 0.5s, background-color 0.5s;
  width: 70px;
}
header button-inside a {
  color: #4CAF50;
}
center {
  margin-bottom: 50px;
  max-width: 500px;
  line-height: 26px;
  font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding: 0 10px;
}
section-content {
  display: block;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
mobile-browser-support {
  position: absolute;
  left: 50%;
  top: 260px;
  margin-left: -90px;
  font-size: 15px;
  color: gray;
  font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
  font-weight: 300;
}
offline-version-section {
  display: block;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  font-size: 15px;
  color: gray;
  margin-top: 10px;
}
offline-version-section a {
  text-decoration: none;
  color: #4CAF50;
}
container {
  background: white;
  display: block;
  min-width: 300px;
}
section {
  display: block;
  font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif;
  position: relative;
}
section .clear-both {
  clear: both;
}
section .by-catagory {
  width: 280px;
  position: absolute;
  top: 210px;
  left: 540px;
}
section .by-drawing {
  width: 250px;
  position: absolute;
  top: 100px;
  left: 350px;
}
section.first-info {
  height: 840px;
  text-align: center;
}
section.first-info sentence,
section.first-info h1 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  padding-top: 0px;
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
  font-size: 30px;
  display: block;
  font-size: 20px;
  color: gray;
  padding-top: 10px;
}
section.first-info editor-section {
  margin-top: 30px;
  display: block;
}
section.first-info editor-section > img {
  width: 600px;
}
section.first-info logo-section {
  height: 90px;
  display: block;
  position: relative;
}
section.odd-info,
section.even-info {
  background: #4CAF50;
  color: white;
  padding-top: 10px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.even-info {
  background: white;
  color: black;
  padding-top: 30px;
  padding-bottom: 30px;
}
section.even-info .img-container {
  margin-right: 0px;
  margin-left: 20px;
}
.logo {
  color: gray;
  position: absolute;
  left: 50%;
  top: 30px;
}
.logo > div {
  display: inline-block;
  font-size: 46px;
  margin-left: -66px;
}
.logo > logo {
  display: inline-block;
}
.logo > logo > img {
  margin-bottom: -9px;
  width: 48px;
  margin-left: -5px;
  height: 60px;
}
editor-animation {
  display: block;
  height: 190px;
  position: relative;
}
editor-animation > img {
  width: 100%;
  max-width: 720px;
}
editor-animation cursor {
  display: block;
  height: 15px;
  position: absolute;
  left: 50%;
  top: 92px;
  margin-left: 43px;
}
editor-animation cursor > img {
  height: 24px;
}
#offline-button-area button-inside {
  height: 28px;
  border-radius: 20px;
  display: inline-block;
  font-size: 17px;
  font-weight: 700;
  padding-top: 10px;
  cursor: pointer;
  border: 2px solid transparent;
  background: #4CAF50;
  color: white;
  transition: color 0.5s, background-color 0.5s;
  width: 150px;
}
#offline-button-area button-inside a {
  color: white;
}
#offline-button-area button-inside:hover {
  color: #4CAF50;
  background: white;
  border: 2px solid #4CAF50;
}
#offline-button-area button-inside:hover a {
  color: #4CAF50;
}
open-editor {
  background: white;
  display: block;
  position: relative;
}
open-editor open-button {
  position: absolute;
  left: 50%;
  top: -40px;
}
open-editor button-inside {
  margin-left: -50%;
  height: 28px;
  border-radius: 20px;
  display: block;
  font-size: 17px;
  font-weight: 700;
  padding-top: 10px;
  cursor: pointer;
  border: 2px solid white;
  background: #4CAF50;
  color: white;
  transition: color 0.5s, background-color 0.5s;
  width: 150px;
}
open-editor button-inside a {
  color: white;
}
open-editor button-inside:hover {
  color: #4CAF50;
  background: white;
  border: 2px solid #4CAF50;
}
open-editor button-inside:hover a {
  color: #4CAF50;
}
.full-view {
  margin-top: -220px;
}
.img-container.main-editor {
  margin-right: 0;
  margin-left: 0;
  padding-left: 10px;
  padding-right: 10px;
}
p {
  color: white;
}
.description-1 {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 20px;
}
.description-1 li {
  margin: 1.5em 0;
}
.img-container {
  margin-right: 20px;
}
.img-container img {
  width: 100%;
  max-width: 600px;
  box-shadow: 0 2px 8px 0 #797777;
}
footer {
  background: #e8e8e8;
}
footer p {
  padding: 20px 20px;
  color: #7d8183;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}
.column-1 {
  width: 40%;
  float: left;
}
.column-2 {
  width: 60%;
  float: left;
}
.find-math-symbols {
  margin-top: 130px;
}
.sugession-box-description {
  margin-bottom: -70px;
}
.various-font-description {
  margin-top: 50px;
}
.latex-import-container {
  padding-left: 50px;
  margin-top: 15px;
}
.latex-export-container {
  padding-left: 50px;
  margin-top: 15px;
}
.context-base-description {
  margin-top: 30px;
}
.sugession-box-column {
  width: 50%;
  float: left;
}
.find-math-image-column {
  width: 70%;
}
.find-math-symbols-column {
  width: 30%;
  float: right;
}
.math-selection-image-column {
  width: 55%;
}
.math-selection-text-column {
  width: 45%;
  float: right;
}
.context-image-column {
  width: 55%;
}
.context-text-column {
  width: 45%;
  float: right;
}
.import-column {
  width: 50%;
}
.export-column {
  width: 50%;
}
.minor-column {
  width: 33.3%;
}
.even-info.last-section {
  padding-bottom: 70px;
  padding-top: 60px;
}
.info {
  display: block;
  float: right;
  color: white;
  font-size: 14px;
  margin-right: 5px;
  margin-top: 11px;
}
@media (max-width: 800px) {
  container section.odd-info .description-1,
  container section.even-info .description-1 {
    font-size: 16px;
    margin-right: 0;
  }
  container section.even-info {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .find-math-symbols {
    margin-top: 90px;
  }
  .sugession-box-description {
    margin-bottom: -60px;
  }
  .various-font-description {
    margin-top: 40px;
  }
  .latex-import-container {
    padding-left: 20px;
    margin-top: 20px;
  }
  .latex-export-container {
    padding-left: 20px;
    margin-top: 20px;
  }
}
@media (max-width: 641px) {
  container section.odd-info .description-1,
  container section.even-info .description-1 {
    font-size: 13px;
  }
  container section.even-info {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .find-math-symbols {
    margin-top: 60px;
  }
  .sugession-box-description {
    margin-bottom: -50px;
  }
  .various-font-description {
    margin-top: 30px;
  }
  .latex-import-container {
    padding-left: 30px;
    margin-top: 10px;
  }
  .latex-export-container {
    padding-left: 30px;
    margin-top: 10px;
  }
  .context-base-description {
    margin-top: 20px;
  }
}
footer {
  font-size: 14px;
}
.share center {
  padding-top: 20px;
  margin-bottom: 20px;
  color: gray;
}
.share share-process {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.share link-container {
  margin-left: 10px;
  margin-right: 10px;
}
.share text-inside {
  border: 1px solid lightgray;
  padding: 5px;
  font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
  font-size: 11px;
  font-weight: 300;
  display: inline-block;
  margin-top: 15px;
  /*text-decoration: underline;*/
}
.share section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.share .img-user {
  width: 27px;
}
.share .img-users {
  width: 40px;
}
.share .img-document {
  width: 20px;
}
.share .img-right-arrow {
  width: 30px;
  height: 60px;
}
a {
  color: #1b95e0;
}
@media (max-width: 600px) {
  center {
    margin-bottom: 50px;
    max-width: 500px;
    line-height: 26px;
    font-size: 17px;
  }
  .column-1 {
    width: 100%;
  }
  .column-2 {
    width: 100%;
  }
  .full-view {
    margin-top: -180px;
  }
  .logo {
    top: 30px;
  }
  .logo > div {
    font-size: 36px;
    margin-left: -56px;
  }
  .logo > logo > img {
    margin-bottom: -9px;
    width: 38px;
    margin-left: -5px;
    height: 50px;
  }
  section.first-info {
    height: 770px;
  }
  section.first-info sentence,
  section.first-info h1 {
    font-size: 15px;
    padding-top: 0;
  }
  section.first-info editor-section {
    margin-top: 10px;
  }
  section.first-info editor-section > img {
    max-width: 400px;
    width: 100%;
  }
  section.first-info offline-version-section {
    top: 190px;
    font-size: 12px;
  }
  section.first-info offline-version-section browser-info browser-version {
    font-size: 9px;
    margin-top: -9px;
  }
  section.first-info offline-version-section img {
    width: 20px;
  }
  section.odd-info,
  section.even-info {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  section.odd-info .description-1,
  section.even-info .description-1 {
    font-size: 16px;
    padding-right: 0px;
    margin-top: 00px;
  }
  section.odd-info .img-container.main-editor,
  section.even-info .img-container.main-editor {
    margin-right: 0;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  section.odd-info .img-container,
  section.even-info .img-container {
    margin-left: 10px;
    margin-right: 10px;
  }
  section.odd-info {
    padding-bottom: 20px;
  }
  section.even-info {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .sugession-box-column {
    width: 100%;
    padding-bottom: 35px;
  }
  .sugession-box-description {
    margin-bottom: -50px;
  }
  .find-math-image-column {
    width: 100%;
  }
  .find-math-symbols-column {
    width: 100%;
    float: left;
  }
  .find-math-symbols {
    margin-top: 00px;
  }
  .various-font-description {
    margin-top: 30px;
  }
  .latex-import-container {
    padding-left: 10px;
    margin-top: 10px;
  }
  .latex-export-container {
    padding-left: 10px;
    margin-top: 10px;
  }
  .context-base-description {
    margin-top: 20px;
  }
  .export-column {
    margin-top: 30px;
  }
  .even-info.last-section {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .even-info.last-section .description-1 {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .info {
    font-size: 15px;
    padding-right: 0px;
    margin-right: 5px;
  }
  .share text-inside {
    font-size: 8px;
  }
  .share .img-user {
    width: 18px;
  }
  .share .img-users {
    width: 26px;
  }
  .share .img-document {
    width: 13px;
  }
  .share .img-right-arrow {
    width: 20px;
    height: 58px;
  }
}
