body { margin: 60px auto; }



div.scrollmenu {  background-color: #333;  overflow: auto;  white-space: nowrap;}

div.scrollmenu a {  display: inline-block;  color: white;  text-align: center;  padding: 16px;  text-decoration: none;}

div.scrollmenu a:hover {  background-color: #777;}

footer { border-top: 1px solid #d5d5d5; font-size: .8em; }

aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}

