body { margin: 40px auto; width: 90%; }

a { text-decoration: none; color: #999; }
a:hover { text-decoration: underline; }

p, ul { font-size: 1.8em; line-height: 1.4em; color: #333; }

h1, h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 3.0em;  }
h2 { font-size: 2.8em; }
h3 { font-size: 2.5em; }
h4 { font-size: 2.1em; }

nav ul, footer ul { font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }

mobile-browser-support {
  position: absolute;
  left: 50%;
  top: 260px;
  margin-left: -90px;
  font-size: 15px;
  color: gray;
  font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
  font-weight: 300;


footer {
  background: #e8e8e8;
}
footer p {
  padding: 20px 20px;
  color: #7d8183;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}
.column-1 {
  width: 40%;
  float: left;
}
.column-2 {
  width: 60%;
  float: left;
}
.find-math-symbols {
  margin-top: 130px;
}
.sugession-box-description {
  margin-bottom: -70px;
}
.various-font-description {
  margin-top: 50px;
}
.latex-import-container {
  padding-left: 50px;
  margin-top: 15px;
}
.latex-export-container {
  padding-left: 50px;
  margin-top: 15px;
}
.context-base-description {
  margin-top: 30px;
}
.sugession-box-column {
  width: 50%;
  float: left;
}
.find-math-image-column {
  width: 70%;
}
.find-math-symbols-column {
  width: 30%;
  float: right;
}
.math-selection-image-column {
  width: 55%;
}
.math-selection-text-column {
  width: 45%;
  float: right;
}
.context-image-column {
  width: 55%;
}
.context-text-column {
  width: 45%;
  float: right;
}
.import-column {
  width: 50%;
}
.export-column {
  width: 50%;
}
.minor-column {
  width: 33.3%;
}
.even-info.last-section {
  padding-bottom: 70px;
  padding-top: 60px;
}
.info {
  display: block;
  float: right;
  color: white;
  font-size: 14px;
  margin-right: 5px;
  margin-top: 11px;
}

@media (max-width: 800px) {
  container section.odd-info .description-1,
  container section.even-info .description-1 {
    font-size: 16px;
    margin-right: 0;
  }
  container section.even-info {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .find-math-symbols {
    margin-top: 90px;
  }
  .sugession-box-description {
    margin-bottom: -60px;
  }
  .various-font-description {
    margin-top: 40px;
  }
  .latex-import-container {
    padding-left: 20px;
    margin-top: 20px;
  }
  .latex-export-container {
    padding-left: 20px;
    margin-top: 20px;
  }
}
@media (max-width: 641px) {
  container section.odd-info .description-1,
  container section.even-info .description-1 {
    font-size: 13px;
  }
  container section.even-info {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .find-math-symbols {
    margin-top: 60px;
  }
  .sugession-box-description {
    margin-bottom: -50px;
  }
  .various-font-description {
    margin-top: 30px;
  }
  .latex-import-container {
    padding-left: 30px;
    margin-top: 10px;
  }
  .latex-export-container {
    padding-left: 30px;
    margin-top: 10px;
  }
  .context-base-description {
    margin-top: 20px;
  }
}
footer {
  font-size: 14px;
}
.share center {
  padding-top: 20px;
  margin-bottom: 20px;
  color: gray;
}
.share share-process {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.share link-container {
  margin-left: 10px;
  margin-right: 10px;
}
.share text-inside {
  border: 1px solid lightgray;
  padding: 5px;
  font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
  font-size: 11px;
  font-weight: 300;
  display: inline-block;
  margin-top: 15px;
  /*text-decoration: underline;*/
}
.share section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.share .img-user {
  width: 27px;
}
.share .img-users {
  width: 40px;
}
.share .img-document {
  width: 20px;
}
.share .img-right-arrow {
  width: 30px;
  height: 60px;
}
a {
  color: #1b95e0;
}
@media (max-width: 600px) {
  center {
    margin-bottom: 50px;
    max-width: 500px;
    line-height: 26px;
    font-size: 17px;
  }
  .column-1 {
    width: 100%;
  }
  .column-2 {
    width: 100%;
  }
  .full-view {
    margin-top: -180px;
  }
  .logo {
    top: 30px;
  }
  .logo > div {
    font-size: 36px;
    margin-left: -56px;
  }
  .logo > logo > img {
    margin-bottom: -9px;
    width: 38px;
    margin-left: -5px;
    height: 50px;
  }
  section.first-info {
    height: 770px;
  }
  section.first-info sentence,
  section.first-info h1 {
    font-size: 15px;
    padding-top: 0;
  }
  section.first-info editor-section {
    margin-top: 10px;
  }
  section.first-info editor-section > img {
    max-width: 400px;
    width: 100%;
  }
  section.first-info offline-version-section {
    top: 190px;
    font-size: 12px;
  }
  section.first-info offline-version-section browser-info browser-version {
    font-size: 9px;
    margin-top: -9px;
  }
  section.first-info offline-version-section img {
    width: 20px;
  }
  section.odd-info,
  section.even-info {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  section.odd-info .description-1,
  section.even-info .description-1 {
    font-size: 16px;
    padding-right: 0px;
    margin-top: 00px;
  }
  section.odd-info .img-container.main-editor,
  section.even-info .img-container.main-editor {
    margin-right: 0;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  section.odd-info .img-container,
  section.even-info .img-container {
    margin-left: 10px;
    margin-right: 10px;
  }
  section.odd-info {
    padding-bottom: 20px;
  }
  section.even-info {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .sugession-box-column {
    width: 100%;
    padding-bottom: 35px;
  }
  .sugession-box-description {
    margin-bottom: -50px;
  }
  .find-math-image-column {
    width: 100%;
  }
  .find-math-symbols-column {
    width: 100%;
    float: left;
  }
  .find-math-symbols {
    margin-top: 00px;
  }
  .various-font-description {
    margin-top: 30px;
  }
  .latex-import-container {
    padding-left: 10px;
    margin-top: 10px;
  }
  .latex-export-container {
    padding-left: 10px;
    margin-top: 10px;
  }
  .context-base-description {
    margin-top: 20px;
  }
  .export-column {
    margin-top: 30px;
  }
  .even-info.last-section {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .even-info.last-section .description-1 {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .info {
    font-size: 15px;
    padding-right: 0px;
    margin-right: 5px;
  }
  .share text-inside {
    font-size: 8px;
  }
  .share .img-user {
    width: 18px;
  }
  .share .img-users {
    width: 26px;
  }
  .share .img-document {
    width: 13px;
  }
  .share .img-right-arrow {
    width: 20px;
    height: 58px;
  }
}

/* Blog */
ul.posts { margin: 20px auto 40px; font-size: 2em; }
ul.posts li { list-style: none; }

/* CV */
.cv { margin: 0px 0px 60px; }
.cv h1 { font-size: 3.0em; }
.cv h2 { font-size: 2.2em; }
.cv address, .cv .download { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
.cv address, .cv p { font-size: 1.2em; }
.cv .download { float: right; font-size: .8em; text-transform: uppercase; }
