<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v17.0&appId=1439614996879230&autoLogAppEvents=1" nonce="1syxxERE"></script>


<div class="fb-share-button" data-href="https://hoangnamphan.github.io" data-layout="" data-size=""><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://hoangnamphan.github.io/  ;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
<div class="fb-comments" data-href="https://hoangnamphan.github.io/xxx " data-width="" data-numposts="5"></div>
