<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">

	 <include src="./_includes/analysis.html"></include>
	  <include src="./_includes/comments.html"> </include>
	  <include src="./_includes/comments.html"> </include>
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/CV" target = "_ blank">CV</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer style="background: #e8e8e8;
    width: 100%;
font-size: 1em ;
    bottom: 0;
	  text-align: center ;
	margin-bottom: 0;margin-right: 0;margin-left: 0;">
            <p>
                2023 &copy; Hoangnamphan.github.io	
		<br/>
               	<a href="/about">About</a>
		<br/>
  		<a href="https://www.facebook.com/hoangnam.phan.7140/">Facebook</a>
		<br />
                </p>
        </footer>

  </body>

</html>
