<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <!--<![endif]-->
	<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" class="no-js"  lang="en" >
		
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<!--Math -->
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>


	<!--Facebook-->
	<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v17.0&appId=1439614996879230&autoLogAppEvents=1" nonce="1syxxERE"></script>
	<!--End/Facebook-->
	
<title>Nam Lab</title>
<meta name="description" content="Nam Lab h">
<meta name="keywords" content="P. H. Nam, statistics, Mathematics">



<!-- Twitter Cards -->
<meta name="twitter:title" content="About">
<meta name="twitter:description" content="Nam Lab ">
<meta name="twitter:site" content="@?">
<meta name="twitter:creator" content="@?">

<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="/images/default-thumb.png">

<!-- Open Graph -->
<meta property="og:locale" content="en_US">
<meta property="og:type" content="article">
<meta property="og:title" content="Nam Lab">
<meta property="og:description" content="GitHub">
<meta property="og:url" content="/">
<meta property="og:site_name" content="Nam Lab">

<meta property="og:image" content="/images/default-thumb.png">






<link rel="canonical" href="/">
<link href="/feed.xml" type="application/atom+xml" rel="alternate" title="Nam Lab Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- For all browsers -->
<link rel="stylesheet" href="/assets/css/main.css">

<meta http-equiv="cleartype" content="on">

<!-- HTML5 Shiv and Media Query Support -->
<!--[if lt IE 9]>
	<script src="/assets/js/vendor/html5shiv.min.js"></script>
	<script src="/assets/js/vendor/respond.min.js"></script>
<![endif]-->

<!-- Modernizr -->
<script src="/assets/js/vendor/modernizr-2.7.1.custom.min.js"></script>

<link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700%7CPT+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
	<script src="https://kit.fontawesome.com/4eee35f757.js"></script>
	

<!-- Icons -->
<!-- 16x16 -->
<link rel="shortcut icon" href="/images/logo.png">
<!-- 32x32 -->
<link rel="shortcut icon" href="/images/logo.png">
<!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
<link rel="apple-touch-icon-precomposed" href="/images/logo.png">
<!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/logo.png">
<!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/logo.png">
<!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/logo.png">

<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N3Q8BFL');</script>
<!-- End Google Tag Manager -->

</head>

<body class="home">

	<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N3Q8BFL"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!--[if lt IE 9]><div class="browser-upgrade alert alert-info">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</div><![endif]-->

<div class="navigation-wrapper">
	<div class="site-name">
		<a href="/">Nam Lab </a>
	</div><!-- /.site-name -->
	<div class="top-navigation">
		<nav role="navigation" id="site-nav" class="nav">
		    <ul>
		        
				    
				    <li><a href="/publications/" >Publications</a></li>
				
				    
				    <li><a href="/CV" target="_blank">CV</a></li>
			    		
			    		<li><a href="/blog/" >Blog</a></li>
				
				    
				    <li><a href="/people/" >People</a></li>
				
		    </ul>
		</nav>
	</div><!-- /.top-navigation -->
</div><!-- /.navigation-wrapper -->



<hr/>

<div id="main" role="main">
  <div class="article-author-side">
    

<div itemscope itemtype="http://schema.org/Person">

	<img src="/images/me3.jpg" class="bio-photo" alt="Nam bio photo">

  <h4 itemprop="name">Phan Hoang Nam</h4>
  <p>
 <i class="fa fa-graduation-cap" aria-hidden="true"></i> Master <br>
 <i class="fa fa-book" aria-hidden="true"></i> Mathematics<br> 
 <i class="fa fa-book" aria-hidden="true"></i> Statistics & Data Science<br>
 <i class="fa fa-university" aria-hidden="true"></i> VL University <br><br>
 <a href="mailto:hoangnam.sp101@gmail.com"> <meta itemprop="email" content="hoangnam.sp10@gmail.com" />
            <i class="fas fa-fw fa-envelope-square" aria-hidden="true"></i> Email </a> <br>
    <a href="https://facebook.com/hoangnam.phan.7140"> <i class="fa-brands fa-facebook"></i></i> Facebook</a>  <br>
	  <i class="fa fa-map-marker" aria-hidden="true"> </i> Tan Phu, HCM City
          <br>
  </p>

</div>

  </div> 
  
<div class="container">

  {{ content }}

</div>

</div><!-- /#main -->

<div class="footer-wrap">
<footer>
    
<span>&copy; Since 2023 Phan Hoang Nam.</span>

  </footer>
</div><!-- /.footer-wrap -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="/assets/js/scripts.min.js"></script>




</body>
</html>
